.features__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
}

@media (max-width: 800px) {
  .features__title {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (max-width: 500px) {
  .features__title {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (max-width: 400px) {
  .features__title {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 320px) {
  .features__title {
    font-size: 19px;
    line-height: 22px;
  }
}
