.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}

@media (max-width: 600px) {
  .hero__text {
    margin: 4px 0 15px;
    font-size: 14px;
    line-height: 20px;
  }
}
