.contacts-form__submit {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #FFBB01;
  font-size: 12px;
  line-height: 15.6px;
  box-shadow: 0px 4px 0px #B68500;
  border-radius: 10px;
  width: 100%;
  padding: 25px 0 25px;
  border: 0;
  transition: background-color .5s, box-shadow .5s;
}

.contacts-form__submit:visited {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #8f6f18;
  font-size: 12px;
  line-height: 15.6px;
  box-shadow: 0px 4px 0px #B68500;
  border-radius: 10px;
  width: 100%;
  padding: 25px 0 25px;
  border: 0;
}
.contacts-form__submit:hover {
  background-color: #dba206;
  box-shadow: 0px 4px 0px #8a6502;
}

@media (max-width: 400px) {
  .contacts-form__submit {
    font-size: 10px;
    line-height: 13px;
    padding: 20.5px 0 20.5px;
  }
}

@media (max-width: 400px) {
  .contacts-form__submit:visited {
    font-size: 10px;
    line-height: 13px;
    padding: 20.5px 0 20.5px;
  }
}
