.hero__circle-pic {
  background-color: #fff;
  border-radius: 50%;
  padding: 11px;
  margin-left: 25px;
}

.hero__circle-pic:after {
  padding-top: 100%;
}

@media (max-width: 800px) {
  .hero__circle-pic {
    max-width: 40%;
    padding: 3px;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .hero__circle-pic {
    max-width: 50%;
    padding: 3px;
    margin-left: 0;
  }
}


@media (max-width: 320px) {
  .hero__circle-pic {
    width: 113px;
    height: 113px;
  }
}
